@font-face {
  font-family: 'PTSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/PTS55F.ttf');
}

@font-face {
  font-family: 'BreeSerif';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/BreeSerif-Regular.otf');
}

body {
  font-family: 'PTSans';
}

.navSize {
  padding: 30px 0 30px 0;
  transition: border 0.7s,padding 0.5s, background-color 0.7s;
}

#navBar {
  border-radius: 0;
  font-family: 'BreeSerif';
  border-bottom: 3px solid #3BABE4;
}

.navResize {
  transition: border 0.7s,padding 0.5s, background-color 0.7s;
}

.formBox {
  margin: auto;
  width: 700px;
  transform: width 0.5s;
}

@media (max-width: 710px) {
  .formBox {
    width: 100%;
    transition: width 0.5s;
  }
}
